PortalTiendaOX/src/conf/xml-resources/web-service-references/WS_Alta_Refrendo/wsdl/127.0.0.1_8090/Oxxo/WS_Alta_Refrendo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://refrendo/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://refrendo/">

<xs:element name="AltaRefrendo" type="tns:AltaRefrendo" />

<xs:element name="AltaRefrendoResponse" type="tns:AltaRefrendoResponse" />

<xs:complexType name="AltaRefrendo">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="a_paterno" type="xs:string" minOccurs="0" />
<xs:element name="a_materno" type="xs:string" minOccurs="0" />
<xs:element name="telefono" type="xs:string" minOccurs="0" />
<xs:element name="placas" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AltaRefrendoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>