PortalTiendaOX/web/WEB-INF/wsdl/127.0.0.1_8090/Oxxo/WS_Abono_Refrendo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://refrendo/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://refrendo/">

<xs:element name="Abono_refrendo" type="tns:Abono_refrendo" />

<xs:element name="Abono_refrendoResponse" type="tns:Abono_refrendoResponse" />

<xs:complexType name="Abono_refrendo">
<xs:sequence>
<xs:element name="Placas" type="xs:string" minOccurs="0" />
<xs:element name="Pago" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Abono_refrendoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>